<h2>Welcome, <%= @user.name %> to your adventure page!</h2>

<!-- create a form here to put in new adventure?? -->

<!-- show list of adventures with 
title.name as link to view each one
to edit and delete
 -->

 <!-- log out button -->