<div class="welcome">

  <div class="col-md-8 col-md-offset-2">
    <center><h2><font color="gray">Life is an Adventure! Keep Exploring!</font></h2></center>
      <center>
      <%= Date.today.strftime("%A, %B %d, %Y") %><br><br>

      <p>The app to track all your adventures!</p><br>
   
      <h4>Please log in to view your account:</h4>
    
        <form action="/login" method="post">

        <label for="username">Username:</label>
        <input type="text" name="username"><br>

        <label for="password">Password:</label>
        <input type="password" name="password"><br>

        <input type="submit" id="submit" value="Log In">
      </form><br>

      <h4>Don't have an account yet?</h4>
        <a href="/signup">SIGN UP</a>
        </center>
  </div>
</div>
