<div class="container">
  <header>Header goes here! </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Adventure Tracker</h2>

    <div class="content">
      <p>Intro goes here!!!!!</p>
    </div>


  </div>
</div>
